<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Acreditaciones</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
   
   	<div  th:if="${session.user.rol=='admin'}"><div th:replace="fragmentos/nav" >...</div></div>
	<div  th:if="${session.user.rol=='instructor'}"><div th:replace="fragmentos/navInstructor" >...</div></div>
	<div  th:if="${session.user.rol=='cliente'}"><div th:replace="fragmentos/navCliente" >...</div></div>
	<div  th:if="${session.user.rol==''}"><div th:replace="fragmentos/navNoLogged" >...</div></div>
	
	<div th:if="${session.user.rol=='cliente' || session.user.rol==''}">
	<b>No puedes acceder a esta página</b><br>
	<a href="/paginaprincipal" class="btn btn-primary" role="button">Índice</a>
	</div>
	
	
	<div th:if="${session.user.rol=='admin' || session.user.rol=='instructor'}">
   <h2>Lista de Acreditaciones</h2>
   <div th:if="${#lists.isEmpty(acreditacion)}">
         No hay acreditaciones disponibles.
    </div>
   <table th:unless="${#lists.isEmpty(acreditacion)}" class="table table-striped">
     <thead>
       <tr>
         <th>Certificado</th>
         <th>Estado</th>
         <th>Tipo</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="acreditacion: ${acreditacion}"> 
         <td><a th:href="@{/acreditaciones/mostrarAcreditacion/{idcertificado}(idcertificado=${acreditacion.idcertificado})}" th:text="${acreditacion.certificado}"></a></td>
         <td style="text-transform:capitalize" th:text="${acreditacion.estado}"></td>
         <td style="text-transform:capitalize" th:text="${acreditacion.tipo}"></td>
         <td th:if="${session.user.rol=='admin'}"><a th:href="@{/acreditaciones/updateEstado/{idcertificado}/{estado}(idcertificado=${acreditacion.idcertificado}, estado='aceptada')}" class="btn btn-warning btn-sm" role="button">Aceptar</a>
         </td>
         <td th:if="${session.user.rol=='instructor'}"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" th:attr="data-target='#myModal'+${acreditacion.idcertificado}">Borrar</button>
         </td>
         <td th:if="${session.user.rol=='admin'}"><a th:href="@{/acreditaciones/updateEstado/{idcertificado}/{estado}(idcertificado=${acreditacion.idcertificado}, estado='rechazada')}" class="btn btn-danger btn-sm" role="button">Rechazar</a>
         </td>
         
         
         
          <!-- The Modal -->
		  <div class="modal" th:id="myModal+${acreditacion.idcertificado}">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Borrar Certificado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->		        
		        <div class="modal-body">
		         Se va a BORRAR el certificado. Estas seguro que quieres hacerlo?
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <a th:href="@{/acreditaciones/delete/{idcertificado}(idcertificado=${acreditacion.idcertificado})}" class="btn btn-danger btn-sm" role="button">Borrar</a>
		          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>
		    </div>
		  </div>  
         
         
         
         
         
         
         
         
         
         
         
         
         
       </tr>
     </tbody>
   </table>
   <a href="/paginaprincipal" class="btn btn-primary" role="button">Índice</a>
   <a th:if="${session.user.rol=='instructor'}"  href="/instructor/perfil" class="btn btn-primary" role="button">Atrás</a>
   <a th:if="${session.user.rol=='admin'}"  href="/instructor/listarInstructores" class="btn btn-primary" role="button">Atrás</a>
   </div>
</body>
</html>