<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="navbar-collapse collapse" style="padding-top:8px;"><h1><b>Toopots</b></h1></div>
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/" th:href="@{/paginaprincipal}">Pagina principal</a></li>
			<li class="nav-item"><a class="nav-link" href="/user/list" th:href="@{/user/list}">Gestion de usuarios</a></li>
			<li class="nav-item"><a class="nav-link" href="/index" th:href="@{/index}">Area privada</a></li>

		</ul>
	</div>
	<div class="loggeduser" th:object="${session}"> 
    <p th:if="*{user == null}"> 
	  <a href="/login" th:href="@{/login}">Iniciar sesion</a> 
    </p>
    <p th:unless="*{user == null}">
	  <span th:text="*{user.usuario}"></span> <a
			href="/logout" th:href="@{/logout}">Salir</a>
    </p>
</div>
</nav>
