<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Agregar reserva</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
    <h2><b>Nueva reserva</b></h2>
    <form action="#" th:action="@{/reserva/add}" 
                     th:object="${reserva}" method="post"> 
      <table>
        <tr>
            <td><label>Estado de pago</label></td>
            <td><select class="form_control" type="text" th:field="*{estadoPago}" >
				<option value="pendiente">Pendiente</option>
				<option value="pagado">Pagado</option>
				</select></td> 
        </tr>
        <tr>
            <td><label>Numero de transaccion</label></td>
            <td><input type="text" th:field="*{numTransaccion}" /></td> 
        </tr>
        <tr>
            <td><label>Numero de asistentes</label></td>
            <td><input type="text" th:field="*{numAsistentes}" /></td> 
        </tr>
        <tr>
            <td><label>Precio por persona</label></td>
            <td><input type="text" th:field="*{precioPersona}" /></td> 
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" /></td> 
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="error"></td>
        </tr>
        <tr>
            <td><label>DNI del cliente</label></td>
            <td><input type="text" th:field="*{dniCliente}" /></td> 
            <td th:if="${#fields.hasErrors('dniCliente')}" th:errors="*{dniCliente}" class="error"></td>
        </tr>
        <tr>
            <td><label>Nombre de la actividad</label></td>
            <td><input type="text" th:field="*{nombreActividad}" /></td>
            <td th:if="${#fields.hasErrors('nombreActividad')}" th:errors="*{nombreActividad}" class="error"></td> 
        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px"><input type="submit" value="Agregar Reserva" class="btn btn-secondary btn-sm" />
            <a href="/reserva/listarReserva" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
        </tr>
      </table>
    </form>
</body>
</html>