<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar reservas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
   <h1>Lista de reservas</h1>
   <div th:if="${#lists.isEmpty(reserva)}">
         No hay reservas en la base de dades
    </div>
   <table th:unless="${#lists.isEmpty(reserva)}" class="table table-striped">
     <thead>
       <tr>
       	 <th>Nombre de la actividad</th>
         <th>Estado de pago</th>
         <th>Numero de asistentes</th>
         <th>Precio por persona</th>
         <th>fecha</th>
         
       </tr>
     </thead>
     <tbody>
       <tr th:each="reserva: ${reserva}"> 
         <td th:text="${reserva.nombreActividad}"></td>
         <td th:text="${reserva.estadoPago}"></td>
         <td th:text="${reserva.numAsistentes}"></td> 
         <td th:text="${reserva.precioPersona}"></td>
         <td th:text="${reserva.fecha}"></td>
         <td><a th:href="@{/reserva/update/{idReserva}(idReserva=${reserva.idReserva})}" class="btn btn-warning btn-sm" role="button">Edita</a> 
         </td>
         <td><a th:href="@{/reserva/delete/{idReserva}(idReserva=${reserva.idReserva})}" class="btn btn-danger btn-sm" role="button">Borrar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-primary" role="button">Agregar reserva</a> 
   <a href="/" class="btn btn-primary" role="button">Índice</a>
</body>
</html>