<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Agregar actividad</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
    <h2><b>Nueva Actividad</b></h2>
    <form action="#" th:action="@{/actividad/add}" 
                     th:object="${actividad}" method="post"> 
      <table>
      <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td> 
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"></td> 
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td> 
        </tr>
        <tr>
            <td><label>Duracion</label></td>
            <td><input type="text" th:field="*{duracion}" /></td>
        </tr>
        <tr>
            <td><label>Fecha</label></td>
            <td><input type="date" th:field="*{fecha}" /></td>
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="error"></td> 
        </tr>
        <tr>
            <td><label>Precio</label></td>
            <td><input type="text" th:field="*{precio}" /></td> 
            <td th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="error"></td> 
        </tr>
        <tr>
            <td><label>Min.Personas</label></td>
            <td><input type="text" th:field="*{minPersonas}" /></td>
            <td th:if="${#fields.hasErrors('minPersonas')}" th:errors="*{minPersonas}" class="error"></td>  
        </tr>
        <tr>
            <td><label>Max.Personas</label></td>
            <td><input type="text" th:field="*{maxPersonas}" /></td>
            <td th:if="${#fields.hasErrors('maxPersonas')}" th:errors="*{maxPersonas}" class="error"></td>  
        </tr>
        <tr>
            <td><label>Lugar</label></td>
            <td><input type="text" th:field="*{lugar}" /></td> 
        </tr>
        <tr>
            <td><label>Punto Encuentro</label></td>
            <td><input type="text" th:field="*{puntoEncuentro}" /></td> 
        </tr>
        
        <tr>
            <td><label>Texto Cliente</label></td>
            <td><input type="text" th:field="*{textoCliente}" /></td> 
        </tr>
        <tr>
            <td><label>Tipo</label></td> 
            <td><select id="tipo" th:field="*{tipo}">
       			<option th:each="tipo : ${nombre}"
               	th:value="${tipo}"
               	th:text="${tipo}"></option>
   			</select></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select name="estados" class="form_control" type="text" th:field="*{estado}" >
				<option value="abierta">Abierta</option>
				<option value="completa">Completa</option>
				<option value="cancelada">Cancelada</option>
				</select>
			</td> 
        </tr>
        <tr>
             <td colspan="2" style="padding-top:10px"><input type="submit" value="Agregar Actividad" class="btn btn-secondary btn-sm" />
            <a href="/actividad/listarActividades" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
        </tr>
      </table>
    </form>
</body>
</html>
