<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar actividades</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>

    <div  th:if="${session.user.rol=='admin'}"><div th:replace="fragmentos/nav" >...</div></div>
    <div th:if="${session.user.rol=='instructor'}"><div th:replace="fragmentos/navInstructor" >...</div></div>
    <h2>Nuevos datos de la actividad</h2>
    <form action="#" th:action="@{/actividad/update/{nombre}(nombre=${actividad.nombre})}" 
                     th:object="${actividad}" method="post"> 
      <table>
         <tr>
            <td><label>Actividad:</label></td>
            <td><span th:text="${actividad.nombre}"></span></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"></td> 
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
         <tr>
            <td><label>Duracion</label></td>
            <td><input type="text" th:field="*{duracion}" /></td>
        </tr>
         <tr>
            <td><label>Fecha</label></td>
            <td><input type="text" th:field="*{fecha}" /></td>
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="error"></td> 
        </tr>
         <tr>
            <td><label>Precio</label></td>
            <td><input type="text" th:field="*{precio}" /></td>
            <td th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}" class="error"></td> 
        </tr>
         <tr>
            <td><label>Minimo de personas</label></td>
            <td><input type="text" th:field="*{minPersonas}" /></td>
            <td th:if="${#fields.hasErrors('minPersonas')}" th:errors="*{minPersonas}" class="error"></td> 
        </tr>
         <tr>
            <td><label>Maximo de personas</label></td>
            <td><input type="text" th:field="*{maxPersonas}" /></td>
            <td th:if="${#fields.hasErrors('maxPersonas')}" th:errors="*{maxPersonas}" class="error"></td>  
        </tr>
         <tr>
            <td><label>Lugar</label></td>
            <td><input type="text" th:field="*{lugar}" /></td>
        </tr>
         <tr>
            <td><label>Punto de encuentro</label></td>
            <td><input type="text" th:field="*{puntoEncuentro}" /></td>
        </tr>
         <tr>
            <td><label>Texto para el cliente</label></td>
            <td><input type="text" th:field="*{textoCliente}" /></td>
        </tr>
         <tr>
            <td><label>Tipo</label></td>
            <td><select id="tipo" th:field="*{tipo}">
       			<option th:each="tipo : ${nombre}"
               	th:value="${tipo}"
               	th:text="${tipo}"></option>
   			</select></td>
        </tr>
         <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}" >
				<option value="abierta">Abierta</option>
				<option value="completa">Completa</option>
				<option value="cancelada">Cancelada</option></select>
			</td>
        </tr>
        <tr>
        <tr>
            <td colspan="2" style="padding-top:10px"><input type="button" value ="Actualizar Actividad" class="btn btn-secondary btn-sm" data-toggle="modal"data-target="#myModal" />
            <a href="/actividad/listarActividades" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
        </tr>
      </table>
      
      
		    <!-- The Modal -->
		  <div class="modal" id="myModal">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Actualizar actividad</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		          Se va a actualizar la actividad. Estas seguro que quieres hacerlo?
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="submit" value="Actualitza Actividad" class="btn btn-secondary btn-sm">Aceptar</button>
		          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>
		    </div>
		  </div>  
      
      
    </form>
</body>
</html>
