<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css"
                                    th:href="@{/css/estilo.css}"/>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-collapse collapse" style="padding-top:8px;"><h1><b>Toopots</b></h1></div>
			<div class="navbar-collapse collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/" th:href="@{/}">Pagina principal</a></li>
					<li class="nav-item"><a class="nav-link" href="/login" th:href="@{/login}">Login</a></li>
					<li class="nav-link">|</li>
					<li class="nav-item"><a class="nav-link" href="/cliente/add" th:href="@{/cliente/add}">Registrate</a></li>
					<li class="nav-item"><a class="nav-link" href="/instructor/add" th:href="@{/instructor/add}">Trabaja con nosotros</a></li>
				</ul>
			</div>
	</nav>
	<div style="display:flex;">
		<div style="margin:5px">
		<img style="width:650px" src="/imagenes/Imagen1.jpg" th:src="@{/imagenes/Imagen1.jgp}" />
		</div>
		<div style="margin:5px">
			<h2>DISFRUTA DE ACTIVIDADES AL AIRE LIBRE</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			   Vivamus in aliquam lacus, ut suscipit purus. Proin metus ipsum, 
			   viverra non quam sed, facilisis vestibulum eros. Vestibulum sem velit, 
			   ornare et quam eget, tincidunt porta tellus. Aliquam diam libero, pulvinar
			   eu lorem id, porttitor consectetur erat. In hac habitasse platea dictumst. 
			   Praesent molestie aliquet venenatis. Sed diam velit, mattis vitae fermentum
			   ut, molestie vitae lorem. Pellentesque tincidunt nibh tempus, euismod massa 
			   id, consequat justo. Donec id risus varius, pharetra nulla quis, lobortis mauris.
			   Sed in nibh dui.
			   <br>
			   <br>
			   Tienes muchas actividades para disfrutar <br>
			   <a style="margin-top:5px;" href="actividad/listarActividades" class="btn btn-primary btn-sm" role="button">Ver Actividades</a>
			   </p>
		</div>
	</div>
	
	<!-- Footer -->
	<footer class="page-footer" style="background:#e6e6e6;">

  		<!-- Copyright -->
  		<div class="footer-copyright text-center py-3">Plataforma de actividades de aventura TooPots | 964 00 00 00 | al@uji.es | Calle falsa 123
    		
  		</div>
  		<!-- Copyright -->

		</footer>
	<!-- Footer -->
</body>
</html> 