<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Eliminar actividad</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Eliminar Cliente</h2>
    <form action="#" th:action="@{/cliente/delete}" 
                     th:object="${cliente}" method="post"> 
      <table>
      <tr>
            <td><label>Nombre del cliente</label></td>
            <td><input type="text" th:field="*{dni}" /></td> 
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="borrar cliente" /></td>
        </tr>
      </table>
    </form>
</body>
</html>