<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar Clientes</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
   <h1>Lista de Clientes</h1>
   <div th:if="${#lists.isEmpty(cliente)}">
         No hay instructores en la base de dades
    </div>
   <table th:unless="${#lists.isEmpty(cliente)}" class="table table-striped">
     <thead>
       <tr>
         <th>DNI</th>
         <th>Nombre</th>
         <th>Email</th>
         <th>Sexo</th>
         <th>Fecha de nacimiento</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="cliente: ${cliente}"> 
         <td th:text="${cliente.dni}"></td> 
         <td th:text="${cliente.nombre}"></td>
         <td th:text="${cliente.email}"></td> 
         <td th:text="${cliente.sexo}"></td>
         <td th:text="${cliente.fechaNacimiento}"></td>         
         <td><a th:href="@{/cliente/update/{dni}(dni=${cliente.dni})}" class="btn btn-warning btn-sm" role="button">Edita</a> 
         </td>
         <td><a th:href="@{/cliente/delete/{dni}(dni=${cliente.dni})}" class="btn btn-danger btn-sm" role="button">Borrar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" class="btn btn-primary" role="button">Agregar Cliente</a> 
   <a href="/"class="btn btn-primary" role="button">Índice</a>
</body>
</html>