<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar perfil</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div th:replace="fragmentos/navCliente" >...</div>
  	<h2>Mi perfil</h2>
   
   <table th:unless="${#lists.isEmpty(cliente)}" class="table table-striped">
     <thead>
       <tr>
         <th>DNI</th>
         <th>Alias</th>
         <th>Nombre</th>
         <th>Email</th>
         <th>Sexo</th>
         <th>Fecha de nacimiento</th>
       </tr>
     </thead>
     <tbody>
       <tr> 
         <td th:text="${cliente.dni}"></td> 
         <td th:text="${cliente.alias}"></td> 
         <td th:text="${cliente.nombre}"></td>
         <td th:text="${cliente.email}"></td> 
         <td style="text-transform:capitalize" th:text="${cliente.sexo}"></td>
         <td th:text="${cliente.fechaNacimiento}"></td>         
         <td><a th:href="@{/cliente/update/{dni}(dni=${cliente.dni})}" class="btn btn-warning btn-sm" role="button">Editar mi perfil</a> 
         </td>
       </tr>
     </tbody>
   </table>
   <a href="/paginaprincipal"class="btn btn-primary" role="button">Índice</a>
</body>
</html>