<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar cliente</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
    <h2><b>Nuevos datos del cliente</b></h2>
    <form action="#" th:action="@{/cliente/update/{dni}(dni=${cliente.dni})}" 
                     th:object="${cliente}" method="post"> 
            <table>
      <tr>
            <td><label>DNI</label></td>
            <td th:text="${cliente.dni}"></td>
        </tr>
        <tr>
            <td><label>Alias</label></td>
            <td th:text="${cliente.alias}"></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
        </tr>
        <tr>
            <td><label>Sexo</label></td>
            <td><input type="text" th:field="*{sexo}" /></td> 
        </tr>
        <tr>
            <td><label>Fecha de nacimiento</label></td>
            <td th:text="${cliente.fechaNacimiento}"></td> 
        </tr>
         <tr>
            <td colspan="2" style="padding-top:10px"><input type="submit" value="Actualizar Cliente" class="btn btn-secondary btn-sm" />
            <a href="/cliente/perfil" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
        </tr>
      </table>
    </form>
</body>
</html>
