<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Registro de instructor</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div th:replace="fragmentos/navNoLogged" >...</div>
    <h2>Registrarse como instructor</h2>    
    <form action="#" th:action="@{/instructor/add}" 
                     th:object="${instructor}" method="post" enctype="multipart/form-data">
                     
      <div style="width:800px; padding-top:50px;">     
       <div style="width:400px; float:left;" th:object="${usuario}">         
	       <table>
	      <tr>
	            <td><label>Usuario</label></td>
	            <td><input type="text" th:field="*{usuario}" /></td> 
	            <td th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class="error"></td>
	        </tr>
	        <tr>
	            <td><label>Password</label></td>
	            <td><input type="password" th:field="*{password}" /></td>
	            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td> 
	        </tr>
	       </table>
	    </div>
	    <div style="width:400px; float:right;">
	      <table>
	      <tr>
	            <td><label>DNI</label></td>
	            <td><input type="text" th:field="*{dni}" /></td> 
	            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"></td>
	        </tr>
	        <tr>
	            <td><label>Nombre</label></td>
	            <td><input type="text" th:field="*{nombre}" /></td> 
	        </tr>
	        <tr>
	            <td><label>Email</label></td>
	            <td><input type="text" th:field="*{email}" /></td>
	            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
	        </tr>
	        <tr>
	            <td><label>Número de cuenta</label></td>
	            <td><input type="text" th:field="*{numeroCuenta}" /></td> 
	            <td th:if="${#fields.hasErrors('numeroCuenta')}" th:errors="*{numeroCuenta}" class="error"></td>
	        </tr>
	        <tr></tr>
	        <div th:object="${acreditacion}">
	        <tr>
	        	<td><label><b>Certificado:</b></label></td>
	        </tr>
	        <tr>
	        	<td><input type="file" name="file" id="file" /> </td>
	        </tr>
	         <tr>
	        	<td>Tipo</td>
	        	<td><select style="text-transform:capitalize" id="tipo" th:field="*{tipo}">
       			<option th:each="tipo : ${nombre}"
               	th:value="${tipo}"
               	th:text="${tipo}"></option></select></td>
	        </tr>
	        </div>
	        <tr>
	            <td colspan="2" style="padding-top:10px"><input type="submit" value="Agregar Instructor" class="btn btn-secondary btn-sm" /><a href="/" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
	        </tr>
	      </table>
	      </div>
	   </div>
    </form>
</body>
</html>
