<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar perfil</title>
   <meta charset="UTF-8" /> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div th:replace="fragmentos/navInstructor">...</div>
    <h2>Editar perfil</h2>
    <div style="width:800px; padding-top:50px;">
	    <div style="width:400px; float:left;" >
	    	
	    </div>
	    <div style="width:400px; float:right;">
	    <form action="#" th:action="@{/instructor/update/{dni}(dni=${instructor.dni})}" 
	                     th:object="${instructor}" method="post" enctype="multipart/form-data"> 
	      <table class="updateInstructor">
	      <tr>
	            <td><label>DNI</label></td>
	            <td th:text="${instructor.dni}"></td> 
	        </tr>
	        <tr>
	            <td><label>Alias</label></td>
	            <td th:text="${instructor.alias}"></td> 
	        </tr>
	        <tr>
	            <td><label>Nombre</label></td>
	            <td><input type="text" th:field="*{nombre}" /></td>
	        </tr>
	
	        <tr>
	            <td><label>Email</label></td>
	            <td><input type="text" th:field="*{email}" /></td>
	            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
	        </tr>
	        <tr>
	            <td><label>Numero de cuenta</label></td>
	            <td><input type="text" th:field="*{numeroCuenta}" /></td> 
	            <td th:if="${#fields.hasErrors('numeroCuenta')}" th:errors="*{numeroCuenta}" class="error"></td>
	        </tr>
	        <tr>
	        	<td>Nuevo Certificado</td>
	        	<td><input type="file" name="file" id="file" /> </td>
	        </tr>
	        
	        <tr>
	            <td colspan="2" style="padding-top:10px"><input type="button" value ="Actualizar Instructor" class="btn btn-secondary btn-sm" data-toggle="modal"data-target="#myModal" />
	            <a href="/instructor/perfil" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atras</a></td>
	        </tr>
	      </table>	        
		  </div> 
		  
		  
		    <!-- The Modal -->
		  <div class="modal" id="myModal">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Actualizacion de perfil</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		          Se van a actulizar tus datos. Estas seguro que quieres hacerlo?
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="submit" value="Actualitza Instructor" class="btn btn-secondary btn-sm">Aceptar</button>
		          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>
		    </div>
		  </div>  
		  
		  
	    </form>
    	</div> 
   
 
    
    
</body>
</html>
