<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Editar Instructor</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
    <h2>Nuevos datos del Instructor</h2>
    <form action="#" th:action="@{/instructor/update/{dni}(dni=${instructor.dni})}" 
                     th:object="${instructor}" method="post"> 
      <table>
      <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td> 
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>

        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></td>
        </tr>
        <tr>
            <td><label>Numero de cuenta</label></td>
            <td><input type="text" th:field="*{numeroCuenta}" /></td> 
            <td th:if="${#fields.hasErrors('numeroCuenta')}" th:errors="*{numeroCuenta}" class="error"></td>
        </tr>
        
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{estado}" >
				<option value="pendiente">Pendiente</option>
				<option value="aceptada">Aceptada</option>
				<option value="rechazada">Rechazada</option></select>
			</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualitza Instructor" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
