<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Agregar Tipo de Actividad</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>
	<div th:replace="fragmentos/navInstructor" >...</div>
    <h2><b>Nuevo Tipo de Actividad</b></h2>
    <form action="#" th:action="@{/tipoActividad/add}" 
                     th:object="${tipoActividad}" method="post"> 
      <table>
      <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td> 
             <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></td>
        </tr>
        <tr>
            <td><label>Nivel</label></td>
            <td><input type="text" th:field="*{nivel}" /></td> 
            <td th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}" class="error"></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px"><input type="button" value ="Agregar Tipo Actividad" class="btn btn-secondary btn-sm" data-toggle="modal"data-target="#myModal" />
            <a href="/actividad/listarActividades" class="btn btn-secondary btn-sm" role="button" style="margin-left:10px">Atrás</a></td>
        </tr>
      </table>
      
      <!-- The Modal -->
		  <div class="modal" id="myModal">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Crear Actividad</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		          Se va ha crear un tipo de actividad.
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="submit" value="Agregar Actividad" class="btn btn-secondary btn-sm">Aceptar</button>
		          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>
		    </div>
		  </div>  
      
      
      
    </form>
</body>
</html>
