
body {
   font-family: Helvetica, Arial, sans-serif; 
   background-color: white;
}


h1 {
   font-size: x-large; 
   color: blue;
   font-weight: 300;
   font-size: 2.4em;
}


h2 {
   font-size: large; 
   color: black;
   padding-top:5px; 
   padding-left:8px;
}


.error {
     color: red;
     font-size:80%
}

.needcorrection {
     color: red;
     background-color:yellow;
}

.loggeduser { 
	color: gray;				
	text-align: right;
	margin-right: 10pt;
}


.nav { 
    color: black;                
    text-align: left;
	margin-right: 10pt;
}

input[type=text], input[type=date], input[type=password]{
	width: 200px;
}

select {
	width:200px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.login{
	width: 250px !important;
	background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}

.containerlogTitle{
	text-align:center;
	font-size:xx-large !important;
	color:#127d12;
}

.titlelog{
	font-size:50px !important;
	color:#127d12;
	letter-spacing: px;
}

.subLog{
	color:#000000b8 !important;
}

.logButton{
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

.clase1 table{
	width:100%;
}

.updateInstructor th, td {
  padding-left: 15px;
}