<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragmentos/base}">
<head>

<title>Login</title>
<meta charset="UTF-8"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}"/>
</head>
<body>

<div class="containerlogTitle">
    <h1 class="titlelog">TooPots</h1>
</div>

<div layout:fragment="content" class="wrapper">
  <div id="formContent">
	
	<div>
      <h2 class="subLog">Iniciar Sesión</h2>
    </div>
	
	<form action="#" th:action="@{/login}" 
	      th:object="${user}" method="post">
		<p>
            <input type="text" th:field="*{usuario}" id="login" class="login" name="login" placeholder="Login"/>
            <div class="error" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></div>
		</p>
		<p>
            <input type="password" th:field="*{password}" id="password" class="login" name="login" placeholder="Password"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</p>		
		<input type="submit" value="Acceder" class="logButton" />
	</form>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto" style="padding-left:85px;">
			<li class="nav-item"><a class="nav-link" href="/" th:href="@{/}">Pagina principal</a></li>
			<li class="nav-item nav-link">|</li>
			<li class="nav-item"><a class="nav-link" href="/cliente/add" th:href="@{/cliente/add}">Registrarse</a></li>
		</ul>
	</div>
</nav>

 </div>
</div>
</body>
</html>
