<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/estilo.css"
                                    th:href="@{/css/estilo.css}"/>
</head>
<body>
	<h1>EI1027 - Spring MVC</h1>
	<div th:replace="fragmentos/nav">...</div>
    <div th:replace="fragmentos/logininfo">...</div>
	<h2>Proves de l'aplicació</h2>
	<ul>
		<li><a href="actividad/listarActividades">Listar Actividades</a></li>
		<li><a href="instructor/listarInstructores">Listar Instructores</a></li>
		<li th:if="${session==null}"><a href="login">Login</a></li>
		<li th:if="${session==null}"><a href="cliente/add">Registro cliente</a></li>
		<li th:if="${session==null}"><a href="instructor/add">Registro instructor</a></li>
		<li th:if="${session.user.rol=='cliente'}"><a href="cliente/perfil">Mi perfil</a></li>
		<li th:if="${session.user.rol=='instructor'}"><a href="instructor/perfil">Mi perfil</a></li>
	</ul>
		<h1>Gestion de usuario</h1>

	<ul>
		<li><a href="user/list">Gestion de usuario</a></li>

	</ul>
</body>
</html> 